* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, sans-serif;
}

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 28px;
    background-color: white;
    border-bottom: 2px solid lightgray;
}

.logo {
    color: #FF6F61;
    font-weight: bolder;
    font-size: 28px;
    margin-left: 80px;
}

header input {
    padding: 8px 72px;
    border-radius: 6px;
    border: 1px solid #FF6F61;
    font-size: 14px;
    text-align: center;
}

header input:focus {
    border-color: #FF6F61;
    outline: none;
}

header nav a {
    color: black;
    margin-right: 14px;
    text-decoration: none;
    padding: 0px 24px;
    font-weight: bold;
    font-size: 18px;
}

.login-btn {
    margin-right: 80px;
    padding: 10px 24px;
    border-radius: 14px;
    border: none;
    background-color: #FF6F61;
    cursor: pointer;
}

.login-btn a {
    font-size: 18px;
    font-weight: bold;
    color: white;
}

.footer {
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    padding: 12px;
    background-color: #FF6F61;
    color: white;
    font-weight: bold;
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 14px;
}