
body{
    font-family: Arial, Helvetica, sans-serif;
    background-color: #f2f2f2;
    margin: 0;
}

header{
    height: 30px;
}

h1{
    color: #32324f;
    text-transform: uppercase;
}

nav ul{
    list-style: none;
    margin: 0;
    padding: 20px;
    background-color: rgb(240, 49, 49);
    color: white;
    height: 30px;
    width: 100%;
    position: fixed;
}

nav li{
    display: inline-block;
    margin-right: 20px;
}

nav a{
    color: #ffffff;
    font-size: 18px;
    text-decoration: none;
}

nav a:hover{
    color: #666;
}

form{
    background-color: #f2f2f2;
    border-radius: 5px;
    padding: 20px;
    max-width: 400px;
    margin: 10% auto;
    margin-top: 10%;
    margin-bottom: 10%;
    box-shadow: 0px 2px 10px #32324f;
}

label{
    display: block;
    font-size: 16px;
    margin-bottom: 5px;
    color: #32324f;
}

input[type="password"], input[type="email"]{
    padding: 10px;
    font-size: 16px;
    border-radius: 5px;
    margin-bottom: 10px;
    width: 100%;
    box-sizing: border-box;
    border: 2px solid #ccc;
}

input[type="submit"]{
    background-color:  rgb(240, 49, 49);
    color: white;
    border: none;
    border-radius: 5px;
    padding: 10px 20px;
    font-size: 16px;
    cursor: pointer;
}

input[type="submit"]:hover{
    background-color: red;
}

#tipoCadastro{
    background-color: #f2f2f2;
    border-radius: 5px;
    padding: 20px;
    max-width: 400px;
    margin: 5% auto;
    margin-bottom: 1%;
    box-shadow: 0px 2px 10px rgba(0, 0, 0, 0.3);
    display: flex;
    flex-direction: column;
    align-items: center;
}

#tipoCadastro label{
    font-size: 18px;
    margin-bottom: 10px;
}

#tipoCadastro select{
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    font-size: 18px;
    margin-bottom: 20px;
    width: 200px;
}

#tipoCadastro button{
    background-color: rgb(240, 49, 49);
    color: white;
    border: none;
    border-radius: 5px;
    padding: 10px 20px;
    font-size: 16px;
    cursor: pointer;
}

#tipoCadastro button:hover{
    background-color: red;
}

input[type="text"]{
    padding: 10px;
    font-size: 16px;
    border-radius: 5px;
    margin-bottom: 10px;
    width: 100%;
    box-sizing: border-box;
    border: 2px solid #ccc;
}

#msgErroadministracao , #msgErroPais{
    color: red;
    font-size: 15px;
    font-weight: bold;
    display: none;
}

#cadastroPais , #cadastroadministracao{
    margin-top: 3%;
}

#cadastroPais , #cadastroadministracao{
    display: none; 
}

#alerta{
    color: red;
}