.conteudo {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    height: 80vh;
    padding: 80px;
}

.conteudo label {
    margin: 18px;
    font-size: 22px;
    font-weight: bold;
}

.conteudo input[type="file"] {
    margin: 20px;
    padding: 16px;
    font-size: 18px;
    text-align: center;
}

.conteudo input[type="text"] {
    margin: 20px;
    padding: 16px 52px;
    border-radius: 6px;
    border: 1px solid lightgray;
    font-size: 18px;
    text-align: center;
}

.conteudo input[type="text"]:focus {
    border-color: #FF6F61;
    outline: none;
}

.conteudo select {
    margin: 20px;
    padding: 16px 72px;
    border-radius: 6px;
    border: 1px solid lightgray;
    font-size: 18px;
    background-color: white;
}

.conteudo select:focus {
    border-color: #FF6F61;
    outline: none;
}

.conteudo textarea {
    margin: 20px;
    padding: 32px 72px;
    border-radius: 6px;
    border: 1px solid lightgray;
    font-size: 18px;
}

.conteudo textarea:focus {
    border-color: #FF6F61;
    outline: none;
}

.conteudo input[type="submit"] {
    margin: 20px;
    font-size: 18px;
    font-weight: bold;
    padding: 10px 24px;
    border-radius: 14px;
    border: none;
    background-color: #FF6F61;
    color: white;
    cursor: pointer;
}