.conteudo {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
}

.divImagens {
    flex: 1;
    margin: 50px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.martelo {
    height: 90%;
}

.imagemPrincipal {
    width: 500px;
    height: 500px;
    margin: 20px;
    font-size: 22px;
    border-radius: 20px;
    border-style: solid;
    border-width: thin;
    display: flex;
    align-items: center;
    justify-content: center;
}

.thumbnailContainer {
    display: flex;
    gap: 40px;
}

.thumbnail {
    width: 100px;
    height: 100px;
    font-size: 22px;
    border-radius: 20px;
    border-style: solid;
    border-width: thin;
    display: flex;
    align-items: center;
    justify-content: center;
}

.divDescricao {
    flex: 1;
    display: flex;
    flex-direction: column;
}

.divDescricao h2 {
    margin: 50px;
}

.btnContato {
    width: 25%;
    margin: 50px;
    padding: 20px;
    border-radius: 15px;
    border: none;
    background-color: #FF6F61;
    color: white;
    cursor: pointer;
    font-size: 18px;
    font-weight: bold;
}