/* Início do CSS da página de login*/
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
}

.image-box{
    width: 50%;
    height: 50%;
}
.image-box img{
    width: 60%;
    margin: 90px 200px;
}
.container-login{
    position: relative;
    width: 100%;
    height: 100vh;
    display: flex;
}

.content-box{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 50%;
    height: 100%;
}

.content-box .form-box{
    width: 50%;
}

.content-box .form-box h2{
    color: #32324f;
    font-weight: 600;
    font-size: 2em;
    text-transform: uppercase;
    margin-bottom: 15px;
    text-align: center;
}
.content-box .form-box{
    margin-bottom: 20px;
}
.content-box .form-box .input-box input{
    width: 100%;
    padding: 10px;
    outline: none;
    font-weight: 400;
    border: none;
    font-size: 17px;
    color: #32324f;
    background-color: #ecf2f7;
    border-radius: 5px;
}

.content-box .form-box .input-box span{
    font-size: 16px;
    margin-bottom: 5px;
    display: inline-block;
    color: #32324f;
    font-weight: 400;
    margin-top:15px;
}
.content-box .form-box .input-box input ::placeholder{
    color: #a9adb6;
}
.content-box .form-box .input-box input[type=submit]{
    background-color: rgb(240, 49, 49);
    color: #fff;
    outline: none;
    border: none;
    font-weight: 500;
    cursor: pointer;
    font-size: 20px;
    transition: 0.3s;
}
.content-box .form-box .input-box input[type=submit]:hover{
    background-color: red;
}
.content-box .form-box .esqueceu-senha{
    margin-bottom: 20px;
    color: #32324f;
    font-weight: 400;
    font-size: 14px;
    cursor: pointer;
    display: flex;
    justify-content: space-between;
    margin-top: 20px;
}

.content-box .form-box .esqueceu-senha a{
    text-decoration: none;
    color: #3286ca;
}
.content-box .form-box .esqueceu-senha a:hover{
    color: #3286ca;
}
.content-box .form-box .input-box p{
    color:#32324f;
}
.content-box .form-box .input-box p a{
    color: #4aa4ee;
}
.content-box .form-box .input-box p a:hover{
    color: #3286ca;
}

#alerta{
    color: red;
}

/* Fim do CSS da página de login*/