body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #fff;
}
header {
    background-color: #fff;
    color: #fff;
    padding: 0%;
    text-align: center;
}
main {
    padding: 1rem;
}
footer {
    background-color: #fff;
    color: #fff;
    text-align: center;
    padding: 0%;
    position: fixed;
    width: 100%;
    bottom: 0;
}