<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/static/CSS/base.css">
    <link rel="shortcut icon" href="/static/img/escoteirossaomario.jpg" type="image/x-icon">
    <title>Arquivo base </title>
</head>
<body>
<!INICIO DO CABEÇALHO>
    <header>
        <div class="logo-texto">
            <a href="lista.html"><h1>FOUNT IT</h1></a>
        </div>
        <div class="menu">
            <ul><li>
                <div id="divBusca">
                <input type="text" id="txtBusca" placeholder=""/>
                <button id="btnBusca">Buscar</button>
            </div></li>
                <li><a href="/templates/sobre.html">Sobre</a></li>
                <li><a href="a">Ajuda</a></li>    
            </ul>
        </div>  
        <div class="login">
            <a href="a"><button>Administração</button></a></div>
    </header>
<!FINAL DO CABEÇALHO>


<!INICIO DO RODAPÉ>
    <div class="footer">
        <p>@2024 - Projeto Integrador II - UNIVESP</p>
    </div>
<!FINAL DO RODAPÉ>





    <div class="conteudo">
      
<div id="formulario_produtos" class="formulario_produtos">
    <form action="/novo_produto" id="enviar_produtos" method="post" enctype="multipart/form-data">
        <label for="foto">Foto</label>
        <input type="file" name="foto" id="foto">
        <label for="nome">Objeto</label>
        <input type="text" name="objeto" id="objeto">
        <label for="tipo">Tipo</label>
        <select name="selecionarTipoCadastro" id="selecionarTipoCadastro">
            <option value="roupas">Roupa</option>
            <option value="eletronicos">Eletrônico</option>
            <option value="ferramentas">Ferramenta</option>
            <option value="objeto">Objeto</option>
            <option value="outro">Outro</option>
        </select>
        <label for="descricao">Descrição</label>
        <textarea></textarea>
            <input type="submit" value="Enviar">

    </form>
</div>
    </div>
    
    

    





</body>
</html>