<!DOCTYPE html>
<html lang="pt-BR">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../static/CSS/base.css">
    <link rel="stylesheet" href="../static/CSS/item.css">
    <link rel="shortcut icon" href="../static/img/escoteirossaomario.jpg" type="image/x-icon">

    <title>Item - Found It!</title>
</head>

<body>
    <header>
        <div class="logo">FOUND IT!</div>
        <input type="text" id="txtBusca" placeholder="Buscar..." />
        <nav>
            <a href="{{ url_for('sobre') }}">Sobre</a>
            <a href="#">Ajuda</a>
            <button class="login-btn"><a href="{{ url_for('login') }}">Login</a></button>
        </nav>
    </header>

    <div class="footer">
        <p>@2024 - Projeto Integrador II - UNIVESP</p>
    </div>

    <div class="conteudo">
        <div class="divImagens">
            <div class="imagemPrincipal">
                <img src="../static/img/martelo.jpg" alt="Martelo" class="martelo">
            </div>
            <div class="thumbnailContainer">
                <div class="thumbnail">
                    <img src="../static/img/martelo.jpg" alt="Martelo" class="martelo">
                </div>
                <div class="thumbnail">Foto</div>
                <div class="thumbnail">Foto</div>
            </div>
        </div>

        <div class="divDescricao">
            <h2>Descrição do achado</h2>
            <p>Martelo</p>
            <p>Achado dia: 02/10/2024</p>
            <p>Local do achado: Trilha</p>
            <button class="btnContato"> Contatar responsável</button>
        </div>
    </div>
</body>

</html>