<!DOCTYPE html>
<html lang="pt-BR">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../static/CSS/base.css">
    <link rel="stylesheet" href="../static/CSS/item.css">
    <title>FOUND IT!</title>
</head>

<body>
    <header>
        <div class="logo-texto">
            <h1>FOUND IT</h1>
        </div>
        <div class="menu">
            <ul>
                <li>
                    <div id="divBusca">
                        <input type="text" id="txtBusca" placeholder="" />
                        <button id="btnBusca">Buscar</button>
                    </div>
                </li>
                <li><a href="/templates/sobre.html">Sobre</a></li>
                <li><a href="a">Ajuda</a></li>
            </ul>
        </div>
        <div class="login">
            <a href="a"><button>LOGIN</button></a>
        </div>
    </header>

    <div class="conteudo">
        <div class="divImagens">
            <div class="imagemPrincipal">
                <img src="/static/img/martelo.jpg" alt="Martelo" class="martelo">
            </div>
            <div class="thumbnailContainer">
                <div class="thumbnail">
                    <img src="/static/img/martelo.jpg" alt="Martelo" class="martelo">
                </div>
                <div class="thumbnail">Foto</div>
                <div class="thumbnail">Foto</div>
            </div>
        </div>

        <div class="divDescricao">
            <h2>Descrição do achado</h2>
            <p>Martelo</p>
            <p>Achado dia: 02/10/2024</p>
            <p>Local do achado: Trilha</p>
            <button class="btnContato"> Contatar responsável</button>
        </div>
    </div>

    <div class="footer">
        <p>@2024 - Projeto Integrador II - UNIVESP</p>
    </div>
</body>

</html>