<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/static/CSS/lista.css">
    <link rel="stylesheet" href="/static/CSS/base.css">
    <link rel="shortcut icon" href="/static/img/escoteirossaomario.jpg" type="image/x-icon">

    <title>Arquivo base </title>
</head>

<body>
    <!INICIO DO CABEÇALHO>
        <header>
            <div class="logo-texto">
                <h1>FOUND IT</h1>
            </div>
            <div class="menu">
                <ul>
                    <li>
                        <div id="divBusca">
                            <input type="text" id="txtBusca" placeholder="" />
                            <button id="btnBusca">Buscar</button>
                        </div>
                    </li>
                    <li><a href="/templates/sobre.html">Sobre</a></li>
                    <li><a href="a">Ajuda</a></li>
                </ul>
            </div>
            <div class="login">
                <a href="/cadastro"><button>LOGIN</button></a>
            </div>
        </header>
        <!FINAL DO CABEÇALHO>
            <!INICIO DO RODAPÉ>
                <div class="footer">
                    <p>@2024 - Projeto Integrador II - UNIVESP</p>
                </div>
                <!FINAL DO RODAPÉ>

                    <!INICIO PROGRAMAÇÃO DA PÁGINA>


                        <p><strong>Categorias:</strong></p>
                        <p>Roupas - Brinquedos - Eletrônicos</p>

                        <div class="conteudo">
                            <div style="display: grid; grid-template-columns: repeat(4, 1fr); gap: 40px;">
                                <div style="border: 2px solid red; padding: 40px;border-radius: 20px;">
                                    <a href="/templates/item.html">
                                        <img src="/static/img/martelo.jpg" alt="Photo 1">
                                        <p>Martelo multiuso, encontrado na trilha</p>
                                    </a>
                                </div>
                                <div style="border: 2px solid red; padding: 40px;border-radius: 20px;">
                                    <img src="" alt="Photo 1">
                                    <p>Descrição do objeto perdido</p>
                                </div>
                                <div style="border: 2px solid red; padding: 40px;border-radius: 20px;">
                                    <img src="" alt="Photo 1">
                                    <p>Descrição do objeto perdido</p>
                                </div>
                                <div style="border: 2px solid red; padding: 40px;border-radius: 20px;">
                                    <img src="" alt="Photo 1">
                                    <p>Descrição do objeto perdido</p>
                                </div>
                                <div style="border: 2px solid red; padding: 40px;border-radius: 20px;">
                                    <img src="" alt="Photo 1">
                                    <p>Descrição do objeto perdido</p>
                                </div>
                                <div style="border: 2px solid red; padding: 40px;border-radius: 20px;">
                                    <img src="" alt="Photo 1">
                                    <p>Descrição do objeto perdido</p>
                                </div>
                                <div style="border: 2px solid red; padding: 40px;border-radius: 20px;">
                                    <img src="" alt="Photo 1">
                                    <p>Descrição do objeto perdido</p>
                                </div>
                                <div style="border: 2px solid red; padding: 40px;border-radius: 20px;">
                                    <img src="" alt="Photo 1">
                                    <p>Descrição do objeto perdido</p>
                                </div>

                            </div>









</body>

</html>