<!DOCTYPE html>
<html lang="pt-BR">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../static/CSS/base.css">
    <link rel="stylesheet" href="../static/CSS/lista.css">
    <link rel="shortcut icon" href="../static/img/escoteirossaomario.jpg" type="image/x-icon">

    <title>Lista - Found It!</title>
</head>

<body>
    <header>
        <div class="logo">FOUND IT!</div>
        <input type="text" id="txtBusca" placeholder="Buscar..." />
        <nav>
            <a href="{{ url_for('sobre') }}">Sobre</a>
            <a href="#">Ajuda</a>
            <button class="login-btn"><a href="{{ url_for('login') }}">Login</a></button>
        </nav>
    </header>

    <div class="footer">
        <p>@2024 - Projeto Integrador II - UNIVESP</p>
    </div>

    <div class="conteudo">
        <h2>Categorias:</h2>
        <p>Roupas - Brinquedos - Eletrônicos</p>

        <div class="items">
            <div class="objeto">
                <a href="../templates/item.html">
                    <img src="../static/img/martelo.jpg" alt="Photo 1">
                    <p>Martelo multiuso, encontrado na trilha</p>
                </a>
            </div>
            <div class="objeto">
                <img src="" alt="Photo 1">
                <p>Descrição do objeto perdido</p>
            </div>
            <div class="objeto">
                <img src="" alt="Photo 1">
                <p>Descrição do objeto perdido</p>
            </div>
            <div class="objeto">
                <img src="" alt="Photo 1">
                <p>Descrição do objeto perdido</p>
            </div>
            <div class="objeto">
                <img src="" alt="Photo 1">
                <p>Descrição do objeto perdido</p>
            </div>
            <div class="objeto">
                <img src="" alt="Photo 1">
                <p>Descrição do objeto perdido</p>
            </div>
            <div class="objeto">
                <img src="" alt="Photo 1">
                <p>Descrição do objeto perdido</p>
            </div>
            <div class="objeto">
                <img src="" alt="Photo 1">
                <p>Descrição do objeto perdido</p>
            </div>
        </div>
    </div>
</body>

</html>