<!DOCTYPE html>
<html lang="pt-BR">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../static/CSS/base.css">
    <link rel="stylesheet" href="../static/CSS/sobre.css">
    <link rel="shortcut icon" href="../static/img/escoteirossaomario.jpg" type="image/x-icon">

    <title>Sobre - Found It!</title>
</head>

<body>
    <header>
        <div class="logo">FOUND IT!</div>
        <input type="text" id="txtBusca" placeholder="Buscar..." />
        <nav>
            <a href="{{ url_for('sobre') }}">Sobre</a>
            <a href="#">Ajuda</a>
            <button class="login-btn"><a href="{{ url_for('login') }}">Login</a></button>
        </nav>
    </header>

    <div class="footer">
        <p>@2024 - Projeto Integrador II - UNIVESP</p>
    </div>

    <div class="conteudo">
        <div class="text">
            <p><b>SOBRE</b></p>
            <p>Nosso aplicativo de achados e perdidos foi desenvolvido para tornar mais fácil e
                rápida a localização de objetos perdidos. Com uma interface simples e intuitiva,
                ele permite que qualquer pessoa registre itens encontrados e procure por objetos
                que tenham sido extraviados. O objetivo é conectar pessoas e facilitar a
                recuperação de itens de valor, promovendo a colaboração e a confiança entre
                todos os usuários.</p>
        </div>

        <div class="banner">
            <img src="../static/img/escoteiro1.jpg" alt="Primeiro Banner">
            <img src="../static/img/escoteiro2.jpg" alt="Segundo Banner">
        </div>

        <div class="text">
            <p><b>COMO AJUDAMOS</b></p>
            <p>O aplicativo de achados e perdidos é uma ferramenta que ajuda o grupo escoteiro a
                manter um ambiente organizado e acolhedor. Ao facilitar o retorno de objetos
                perdidos aos seus donos, o aplicativo promove o cuidado e o respeito entre os
                escoteiros, reforçando valores como responsabilidade e companheirismo. Além
                disso, ele fortalece o senso de comunidade, essencial para que o grupo escoteiro
                seja um espaço seguro e harmonioso para todos.</p>
        </div>
    </div>
</body>

</html>